.vis-item {
    font-size: 75%;
    border-color: black;
    background-color: white;
}

.vis-item .vis-item-content {
    white-space: normal;
}

.paper-paragraph {
    width: 150px;
}

.paper-thumb {
    width: 100px;
}
